<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        This is a Ruby on Rails tutorial powered by
        <a href="http://github.com/samgooi4189">samgooi4189</a>
      </p>
      <p>
	Copyright <i class="fa fa-copyright"></i> 2018 Pconnex Sdn. Bhd.
      </p>
    </div>
  </div>
</footer>
