<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <div class="columns">
          <% @appointments.each do |appointment| %>
            <%= render 'card', appointment: appointment %>
          <% end %>
    </div>
  </div>
</section>
